.news-section-container{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}

.section-two-cards-container{
display:flex;
flex-direction: row;
/* justify-content: space-between; */
/* gap:0.5rem; */
}


.section-two-cards-inner-container{  
    border:1px solid blue;
    /* width:420px; */
    /* width:300px; */
    
}
