.news-section-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section-two-cards-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  /* justify-content: space-between; */

  /* gap:0.5rem; */
}

@media screen and (max-width: 600px) {
  #section-2 {
    margin: 2.5rem 0rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 1010px) {
  #section-2 {
    margin: 1.5rem 0rem;
  }
}


