.card-section-three{
    display:flex;
    gap:0.6rem;
}

.date-conatiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkslategray;
    padding: 0.2rem 1rem;
    color:white;
    min-width:58px;
}

.top-number{
    font-size: 22px;
    font-weight: 400;
}

.event-info-conatiner{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.event-info-conatiner p{
    font-size:0.75rem;
    font-weight: 500;
}