.locations-card-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 0.5rem;
}

.locations-card-bottom-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

@media screen and (max-width: 550px) {
  .loremText {
    font-size: 0.8rem !important;
  }
}
