.locations-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}

.locations-inner-container {
  display: flex;
  gap: 0.8rem;
}

#countryAnchorTag{
  margin-top:1.5rem;
}

@media screen and (max-width: 600px) {
  .locations-container {
    margin: 1.5rem 0rem;
  }

  #countryAnchorTag{
    margin-top:1rem;
  }

  .locationsH2{
    margin-top: 1rem;
  }
}

/* .locations-inner-container-div{
    width:25%;
    gap:1rem;
} */
