@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,200;0,300;1,100;1,200;1,300;1,400;1,500;1,600&family=Inter:wght@200;400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700&family=Mulish:wght@300;400;500;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&family=Roboto:wght@400;500;700&display=swap");
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f8fd;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
  font-family: "Poppins", sans-serif;
}

.wrapper {
  /* margin:0.5rem 3rem; */
  padding: 2rem 9rem;
}

#section-2,
#section-1 {
  padding: 2rem 4rem;
}

#sec-four {
  background-color: #d2e9ff;
  
}

#section-5 {
  padding: 0;
}

button {
  color: white;
  background-color: #ed6f1e;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

a {
  color: dodgerblue;
  font-size: small;
  font-weight: 500;
}

.dot-pattern {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.dot-pattern span {
  height: 7px;
  width: 7px;
  border-radius: 50%;
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
}

.arrow-container a {
  font-size: 0.75rem;
}
.arrow-icon {
  color: dodgerblue;
  margin-top: 0.3rem;
}

.iWchow {
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
  font-size: 1rem;
  color: grey !important;
  /* border-radius: 50%; */
  /* border: none; */
  background-color: transparent !important;
  align-self: center;
  /* min-width:0px;
  width:0px;
  height:0px; 
  line-height: 0px; */
  border: none !important;
  cursor: pointer;
  outline: none !important;
}

.bqCWu {
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
  font-size: 1em;
  background-color: transparent !important;
  color: grey !important;
  border-radius: 50%;
  border: 1px solid #f1f8fd !important;
  padding: 0px;
  width: 20px;
  height: 20px;
  min-width: 20px;
  padding: 0px;
  align-self: center;
  cursor: pointer;
  outline: 1px solid #f1f8fd !important;
}

@media screen and (max-width: 600px) {
  .wrapper {
    /* margin:0.5rem 3rem; */
    padding: 0rem 1rem;
    /* border: 1px solid black; */
  }

  .arrow-container a {
    font-size: 1rem;
  }

  h2 {
    text-align: center !important;
  }

  #section-2,
  #section-1 {
    padding: 0rem !important;
  }

  #section-three {
    padding-left: 0rem 0.5rem 0rem 1.5rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 1010px) {
  .wrapper {
    padding: 2rem 4rem !important;
  }

  #section-2,
  #section-1 {
    padding: 0rem !important;
    /* padding-right:0rem !important; */
  }
}
